/* GENERALE */

body
{
    background: #fff;
}
h1 
{
    text-transform: uppercase;
    font-size: 60px;
    color: yellow;
    font-family: 'Special Elite', cursive;
letter-spacing: 4px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
span
{
    font-weight: bold;
    font-size: 25px;
}


/* FOND */


.container
{
width: 1654px;
height: 2339px;
background: #222421;
display: flex;
justify-content: space-between;
margin: 500px;
}


/* PARTIE GAUCHE */

.info
{
width: 827px;
height: 2339px;
display: flex;
flex-direction: column;

}
.tof
{
    width: 827px;
    height: 780px;
    background: url(../image/dimitri.jpg);
    background-size: cover;
    box-shadow:  1px 3px 20px 6px rgb(0, 0, 0);
}
.profil
{
    width: 827px;
    height: 780px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    box-shadow: inset 1px 3px 20px 6px rgb(0, 0, 0);
}
.profil h2
{
    font-family: 'Cinzel', serif;
    font-size: 55px;
    color: yellow;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.profil p
{
    font-size: 35px;
    color: yellow;
}
.profil img
{
    margin-left:25px;
}
.competence
{
   
    width: 827px;
    height: 780px;
    background:  #fcf400;
    box-shadow: inset 1px 3px 20px 6px rgb(0, 0, 0);
}
.competence h2
{
text-align: center;
font-size: 55px;
font-family: 'Cinzel', serif;
letter-spacing: 2px;
text-shadow: 1px 1px 1px rgb(0, 0, 0);

}
.competence img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  
}








/* PARTIE DROITE */

.xp
{
    width: 827px;
    height: 2339px;
    display: flex;
flex-direction: column;
}
.actualite
{
    width: 827px;
    height: 780px;
    box-shadow: inset 1px 3px 20px 6px rgb(0, 0, 0);
}
.actualite  h2
{
    color: yellow;
    text-align: center;
    font-size: 55px;
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.actualite  p 
{ 
    text-align: center;
    font-size: 25px;
    font-family: 'Inconsolata', monospace;
    color: yellow;
}

.experience
{
    width: 827px;
    height: 780px;
    background: #fcf400;
    box-shadow: inset 1px 3px 20px 6px rgb(0, 0, 0);
}
.experience h2 
{
    
    text-align: center;
    font-size: 55px;
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: #000;
}
.experience p
{
    text-align: center;
    font-size: 25px;
    font-family: 'Inconsolata', monospace;
    color: #000;
}
.loisir
{
    width: 827px;
    height: 780px;
    box-shadow: inset 1px 3px 20px 6px rgb(0, 0, 0);
    margin-bottom: 10px;
}
.loisir h2
{
    text-align: center;
    font-size: 55px;
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    color: yellow;  
}
.loisir p
{
    text-align: center;
    font-size: 20px;
    color: yellow;  
    font-family: 'Inconsolata', monospace;
}
.loisir img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
